<div style="width:400px;margin:auto;margin-top:100px">

  <h2>Login</h2>

  <form (ngSubmit)="login()">

    <div>
      <label>Email</label>
      <input type="text" [(ngModel)]="email" name="email" class="form-control">
    </div>

    <br>

    <div>
      <label>Password</label>
      <input type="password" [(ngModel)]="password" name="password" class="form-control">
    </div>

    <br>

    <div>
      <label>Select Role</label>
      <select [(ngModel)]="role" name="role" class="form-control">
        <option value="">Select Role</option>
        <option value="clerk">Clerk</option>
        <option value="admin">Admin</option>
      </select>
    </div>

    <br>

    <button type="submit">Login</button>

  </form>

</div>