<c-container class="min-vh-100 d-flex align-items-center justify-content-center">

  <c-row class="w-100 justify-content-center">

    <c-col xs="12" sm="10" md="6" lg="4">

      <c-card class="p-4 shadow-lg">

        <c-card-header class="text-center border-0">
          <h2 class="fw-bold">Login</h2>
        </c-card-header>

        <c-card-body>

          <form (ngSubmit)="login()">

            <div class="mb-3">
              <label class="form-label">Email</label>
              <input
                cFormControl
                type="email"
                placeholder="Enter email"
                [(ngModel)]="email"
                name="email">
            </div>

            <div class="mb-3">
              <label class="form-label">Password</label>
              <input
                cFormControl
                type="password"
                placeholder="Enter password"
                [(ngModel)]="password"
                name="password">
            </div>

            <div class="mb-4">
              <label class="form-label">Select Role</label>

              <select
                cFormControl
                [(ngModel)]="role"
                name="role">

                <option value="">Select Role</option>
                <option value="clerk">Clerk</option>
                <option value="admin">Admin</option>

              </select>

            </div>

            <div class="d-grid">
              <button cButton color="primary" type="submit">
                Login
              </button>
            </div>

          </form>

        </c-card-body>

      </c-card>

    </c-col>

  </c-row>

</c-container>